<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.mybuild.org/myfile/MyFile" 
       class = "org.mybuild.myfile.myFile.MyFilePackage"
       genModel = "org/mybuild/myfile/MyFile.genmodel" /> 
	
  </extension>





</plugin>
