package genconfig

configuration conf {
	@Runlevel(1) include embox.kernel.timer.sys_timer
	@Runlevel(1) include embox.kernel.time.kernel_time
	@Runlevel(1) include embox.kernel.thread.core(thread_pool_size=512, thread_stack_size=0x4000)
	@Runlevel(1) include embox.driver.ide


	@Runlevel(2) include embox.kernel.sched.strategy.priority_based_smp
	@Runlevel(2) include embox.kernel.timer.sleep
	@Runlevel(2) include embox.kernel.timer.strategy.list_timer
	@Runlevel(2) include embox.kernel.irq
	@Runlevel(2) include embox.kernel.critical
	@Runlevel(2) include embox.kernel.task.multi
	@Runlevel(2) include embox.kernel.cpu.smp

	@Runlevel(2) include embox.arch.x86.kernel.arch
	@Runlevel(2) include embox.arch.x86.kernel.locore
	@Runlevel(2) include embox.arch.x86.kernel.context
	@Runlevel(2) include embox.arch.x86.kernel.interrupt
	@Runlevel(2) include embox.arch.x86.kernel.smp
	@Runlevel(2) include embox.arch.x86.kernel.cpu(cpu_count=2)
	@Runlevel(2) include embox.arch.x86.stackframe
	@Runlevel(2) include embox.arch.x86.libarch

	@Runlevel(2) include embox.mem.pool_adapter
	@Runlevel(2) include embox.mem.bitmask
	@Runlevel(2) include embox.mem.static_heap(heap_size=67108864)
	@Runlevel(2) include embox.mem.heap_bm(heap_size=33554432)

	@Runlevel(2) include embox.compat.posix.util.utsname
	@Runlevel(2) include embox.util.LibUtil
	@Runlevel(2) include embox.framework.LibFramework
	@Runlevel(2) include embox.compat.libc.LibC
	@Runlevel(2) include embox.lib.debug.whereami

	//@Runlevel(2) include embox.driver.interrupt.i8259
	@Runlevel(2) include embox.driver.clock.pit(irq_num=2)
	@Runlevel(2) include embox.driver.net.e1000
	@Runlevel(2) include embox.driver.console.vc.vc
	/*@Runlevel(2) include embox.driver.diag(impl="embox__driver__serial__i8250")*/
	@Runlevel(2) include embox.driver.diag(impl="embox__driver__console__vc__vga")
	@Runlevel(2) include embox.driver.serial.i8250(baud_rate=38400)
	@Runlevel(2) include embox.driver.net.loopback
	@Runlevel(2) include embox.driver.virtual.null
	@Runlevel(2) include embox.driver.virtual.zero

	@Runlevel(2) include embox.net.core
	@Runlevel(2) include embox.net.socket
	@Runlevel(2) include embox.net.dev
	@Runlevel(2) include embox.net.af_inet
	@Runlevel(2) include embox.net.ipv4
	@Runlevel(2) include embox.net.arp
	@Runlevel(2) include embox.net.rarp
	@Runlevel(2) include embox.net.icmpv4
	@Runlevel(2) include embox.net.udp
	@Runlevel(2) include embox.net.tcp
	@Runlevel(2) include embox.net.udp_sock
	@Runlevel(2) include embox.net.tcp_sock
	@Runlevel(2) include embox.net.raw_sock
	@Runlevel(2) include embox.net.net_entry

	@Runlevel(2) include embox.fs.node(fnode_quantity=1024)
	@Runlevel(2) include embox.fs.driver.fat
	@Runlevel(2) include embox.fs.driver.cdfs
	@Runlevel(2) include embox.fs.driver.initfs
	@Runlevel(2) include embox.fs.driver.nfs
	@Runlevel(2) include embox.fs.driver.tmpfs
	@Runlevel(2) include embox.fs.driver.ext3
	@Runlevel(2) include embox.fs.driver.ext4
	/*@Runlevel(2) include embox.fs.driver.cifs*/
	@Runlevel(2) include embox.fs.driver.ramfs
	@Runlevel(2) include embox.fs.driver.ffs
	@Runlevel(2) include embox.fs.rootfs

	include embox.compat.posix.utmp
	include embox.compat.posix.util.utsname(system="zrv",hostname="zrv-host",release="0.1")
	/*@Runlevel(2) include embox.cmd.shell(prompt="ZaryaRV>")*/
	@Runlevel(2) include embox.cmd.sh.tish(prompt="ZaryaRV>", rich_prompt_support=0,builtin_commands="exit logout cd export smac_adm")
	@Runlevel(3) include embox.init.start_script(shell_name="tish",tty_dev="vc",shell_start=1)

	include embox.cmd.mpstat
	include embox.cmd.proc.kill
	include embox.cmd.proc.ps
	include embox.cmd.proc.top
	include embox.cmd.proc.nice
	include embox.cmd.proc.renice
	include embox.cmd.proc.taskset

	include embox.cmd.help

	include embox.cmd.lsmod
	include embox.cmd.lspci


	include embox.cmd.sys.uname
	include embox.cmd.sys.env
	include embox.cmd.sys.export
	include zrv.cmd.version

	include embox.cmd.net.arp
	include embox.cmd.net.arping
	include embox.cmd.net.rarping
	include embox.cmd.net.ifconfig
	include embox.cmd.net.ping
	include embox.cmd.net.iptables
	include embox.cmd.net.route
	include embox.cmd.net.httpd
	include embox.cmd.net.telnetd
	include embox.cmd.net.nslookup
	include embox.cmd.net.getmail
	include embox.cmd.net.sendmail

	include embox.cmd.fs.rm
	include embox.cmd.fs.mkfs
	include embox.cmd.fs.mount
	include embox.cmd.fs.cat
	include embox.cmd.fs.ls
	include embox.cmd.fs.echo
	include embox.cmd.fs.touch
	include embox.cmd.fs.mkdir
	include embox.cmd.fs.cp
	include embox.cmd.fs.mv
	include embox.cmd.fs.dd
	include embox.cmd.fs.umount
	include embox.cmd.fs.xattr

	include embox.cmd.ide
	include embox.cmd.memmap
	include embox.cmd.proc.thread
	include embox.cmd.proc.top

	include embox.cmd.user.who
	include embox.cmd.user.whoami
	include embox.cmd.user.login
	include embox.cmd.user.su

	include embox.cmd.smac_adm
	include embox.cmd.proc.ps
	include embox.cmd.proc.kill
	include embox.cmd.mpstat
	include embox.cmd.proc.taskset
	include embox.cmd.modprobe
	include embox.cmd.rmmod

	include zrv.cmd.smac_test
	include embox.kernel.task.resource.security(security_size=32)
	@Runlevel(2) include embox.security.smac(audit=3,default_file_label="default",max_entries=64,audit_file="/tmp/smac_log")
	/*include embox.test.fs.permissions*/
	include embox.fs.driver.ext2
	include embox.fs.driver.ext2.xattr
}
