
package genconfig

configuration conf {
	@Runlevel(2) include embox.arch.x86.lds
	@Runlevel(2) include embox.arch.x86.kernel.arch
	@Runlevel(2) include embox.arch.x86.kernel.locore
	@Runlevel(2) include embox.arch.x86.kernel.context
	@Runlevel(2) include embox.arch.x86.kernel.interrupt
	@Runlevel(2) include embox.arch.x86.libarch
	
	@Runlevel(2) include embox.driver.interrupt.i8259
	@Runlevel(2) include embox.driver.clock.pit

	@Runlevel(2) include embox.prom.prom_printf

	@Runlevel(1) include embox.kernel.timer.sys_timer
	@Runlevel(1) include embox.kernel.time.kernel_time
	@Runlevel(2) include embox.kernel.thread.sched_policy.priority_based
	@Runlevel(2) include embox.kernel.timer.sleep
	@Runlevel(2) include embox.kernel.timer.strategy.list_timer
	@Runlevel(2) include embox.kernel.time.timekeeper
	@Runlevel(2) include embox.kernel.softirq
	@Runlevel(2) include embox.kernel.irq
	@Runlevel(2) include embox.kernel.critical
	@Runlevel(2) include embox.kernel.task.multi

	@Runlevel(2) include embox.mem.pool_adapter
	@Runlevel(2) include embox.mem.static_heap(heap_size=16777216)
	@Runlevel(2) include embox.mem.heap_bm(heap_size=8388608)
	@Runlevel(2) include embox.mem.bitmask


	@Runlevel(2) include embox.driver.tty.tty
	@Runlevel(2) include embox.driver.tty.vterm
	@Runlevel(2) include embox.driver.terminal
	@Runlevel(2) include embox.driver.input.keyboard.keyboard
	@Runlevel(2) include embox.driver.diag.tty_diag
	@Runlevel(2) include embox.driver.virtual.fb_device
	@Runlevel(2) include embox.driver.virtual.null
	@Runlevel(2) include embox.driver.virtual.zero


/*enable back tracing for panic (asserts)*/
	@Runlevel(2) include embox.arch.x86.stackframe
	@Runlevel(2) include embox.lib.debug.Backtrace


	@Runlevel(2) include embox.profiler.tracing

	@Runlevel(2) include embox.fs.driver.initfs
	@Runlevel(2) include embox.fs.rootfs
	//@Runlevel(2) include embox.fs.driver.devfs
	//@Runlevel(1) include embox.driver.ide


	@Runlevel(3) include embox.cmd.sh.tish
	@Runlevel(3) include embox.init.start_script(shell_name="tish")

	include embox.cmd.example
	
	include embox.example.kernel.user_example


//	@Runlevel(3) include embox.example.video.framebuffer
/* 
	@Runlevel(2) include embox.util.LibUtil
	@Runlevel(2) include embox.framework.LibFramework
	@Runlevel(2) include embox.compat.posix.fs.file
	@Runlevel(2) include embox.lib.LibC*/
}
